{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo %}
    <h1>Resultados de la búsqueda</h1>
{% endblock %}


{% block formulario_titulo %}
<h1>Sabores encontrados</h1>

{% if pedidos %}

<table>
    <thead>
        <tr>
            <th>IDCliente</th>
            <th>Sabor</th>
            <th>Cantidad</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>
                {{ pedido.idCliente }}
            </td>
            <td>
                {{ pedido.sabor }}
            </td>
            <td>
                {{ pedido.cantidad }}
            </td>
            <td>
                {{ pedido.fecha }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

No hay Resultdos

{% endif %}

{% endblock %}