{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo %}
    <h1>Clientes</h1>
{% endblock %}

{% block formulario_titulo %}
<h1>Listado Clientes</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="AGREGAR">

</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>
                {{ cliente.id }}
            </td>
            <td>
                {{ cliente.nombre }}
            </td>
            <td>
                {{ cliente.apellido }}
            </td>
            <td>
                {{ cliente.telefono }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}